.elementor-533 .elementor-element.elementor-element-bac2d24.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-533 .elementor-element.elementor-element-bac2d24.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;}
.elementor-533 .elementor-element.elementor-element-d36fac1 .elementor-repeater-item-e3bb714 {background-color: #fff;}
.elementor-533 .elementor-element.elementor-element-d36fac1 .elementor-repeater-item-8dd5f15 {background-color: #fff;}
.elementor-533 .elementor-element.elementor-element-d36fac1 .elementor-repeater-item-8dd5f15 i {color: #0c0c0c;}
.elementor-533 .elementor-element.elementor-element-d36fac1 .elementor-repeater-item-8dd5f15 svg {fill: #0c0c0c;}
.elementor-533 .elementor-element.elementor-element-d36fac1 .elementor-repeater-item-8acff07 {background-color: #fff;}
.elementor-533 .elementor-element.elementor-element-d36fac1 {text-align: center;}
.elementor-533 .elementor-element.elementor-element-d36fac1 .elementor-social-icon {font-size: 30px;}
.elementor-533 .elementor-element.elementor-element-d36fac1 > .elementor-widget-container {margin: 0px 0px 0px 0px;}