.elementor-584 .elementor-element.elementor-element-31960d1 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;z-index: 9999;}
.elementor-584 .elementor-element.elementor-element-31960d1 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-584 .elementor-element.elementor-element-0a2b8b0 {text-align: left;}
.elementor-584 .elementor-element.elementor-element-0a2b8b0 .elementor-image img {width: 100%;}
.elementor-584 .elementor-element.elementor-element-e8d76d1 .elementor-menu-toggle {margin: 0 auto;}